Src/Octopus.GUI/Service References/SoftwareUpdate/SoftwareUpdate.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.octopusnetwork.org/webservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.octopusnetwork.org/webservice/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.octopusnetwork.org/webservice/">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetVersionRequest">
    <wsdl:part name="input" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="GetVersionResponse">
    <wsdl:part name="resultat" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="GetUpdateLinkRequest">
    <wsdl:part name="input" type="xsd:string" />
  </wsdl:message>
  <wsdl:message name="GetUpdateLinkResponse">
    <wsdl:part name="resultat" type="xsd:string" />
  </wsdl:message>
  <wsdl:portType name="VersionServicePortType">
    <wsdl:operation name="GetVersion">
      <documentation>Retourne la version du logiciel</documentation>
      <wsdl:input message="tns:GetVersionRequest" />
      <wsdl:output message="tns:GetVersionResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdateLink">
      <documentation>Retourne le lien de la version la plus recente</documentation>
      <wsdl:input message="tns:GetUpdateLinkRequest" />
      <wsdl:output message="tns:GetUpdateLinkResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="VersionServiceBinding" type="tns:VersionServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="GetVersion">
      <soap:operation soapAction="http://www.octopusnetwork.org/webservice/#GetVersion" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.octopusnetwork.org/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.octopusnetwork.org/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdateLink">
      <soap:operation soapAction="http://www.octopusnetwork.org/webservice/#GetUpdateLink" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="http://www.octopusnetwork.org/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="http://www.octopusnetwork.org/webservice/" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="VersionService">
    <wsdl:port name="VersionServicePort" binding="tns:VersionServiceBinding">
      <soap:address location="http://www.octopusnetwork.org/webservice/SoftwareUpdate.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>